body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

p {
  line-height: 2;
}

h1 {
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-top: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
hr {
  border-color: #EAF6F6;
  border-style: dotted none none none;
  border-width: 10px;
  width: 5%;
  margin: 75px auto;

}

.intro {
  width: 40%;
  margin: auto;
}
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.mountain {
  margin-top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 75%;
  margin: 150px auto 150px;
  text-align: left;
}

.code-img{
  width: 20%;
  float: left; /* NOTE: makes text wrap around img */
  margin-right: 50px;

}

.profile-img{
  width: 25%;
  margin-top: 100px;
  border-radius: 50%;

}

.talking-img {
  padding-bottom: 100px;
  width: 20%;
  float: right; /* NOTE: makes text wrap around img */
  margin-left: 50px;

}

.contact-me {
  padding: 50px
}

.contact-message {
  width: 50%;
  margin: 40px auto 30px;
}

.bottom-container {
  background: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}
